@import 'mixins';

h1{
    @include h1;
}

h2{
    @include h2;
}

h3{
    @include h3;
}

span,.text{
    @include span;
}

p{
    @include p;

}

input, .input-text{
    @include input;

}
.btn{
    @extend .input-text;
    font-weight: $medium;
    padding: 0.9rem 2rem;
    border-radius: 15px;
    background-color: $blue;
    color: $white;
    border: none;
    cursor: pointer;
    display:block;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s;
    &:hover{
        background-color: $navy;
    }
    &.secondary{
        background-color: $white;
        color: $blue;
        border: 1px solid $blue;
        &:hover{
            background-color: $blue;
            color: $white;
        }
    }
    @include media-max(phone){
        padding: 1rem 1.7rem;
    }
}