@import 'mixins';

h1 {
    @include h1;
}

h2 {
    @include h2;

    &.title {
        @extend h1;
        color: $navy;
    }
}

.title {
    margin-bottom: 1rem;
}

h3 {
    @include h3;
}

span,
.text {
    @include span;
    line-height: 150%
}

p {
    @include p;

    &.big {
        @extend h3;
        color: $black;
        line-height: 150%;

    }

}

input,
.input-text {
    @include input;

}

.btn {
    @extend .input-text;
    font-weight: $medium;
    padding: 0.9rem 2rem;
    border-radius: 15px;
    background-color: $blue;
    color: $white;
    border: none;
    cursor: pointer;
    display: block;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s;

    &:hover {
        background-color: $navy;
    }

    &.secondary {
        background-color: $white;
        color: $blue;
        border: 1px solid $blue;

        &:hover {
            background-color: $blue;
            color: $white;
        }
    }

    @include media-max(phone) {
        padding: 1rem 1.7rem;
    }
}



.more {
    @extend h2;
    margin-top: 2rem;
    color: $blue;
    font-weight: 600;
    align-self: flex-end;

}

.input-field {
    border: 1px solid $navy;
    border-radius: 0.75rem;
    background: $light-grey;
    outline: none;
    padding: 1.25rem;


}

.box-wrapper-border {
    width: 100%;
    max-width: 60vw;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 3px solid $navy;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .btn-wrapper {
            margin-top: 2rem;
            width: 40%;
            display:flex;
            align-self: center;
            justify-content: center;
            // background-color: red;
            .btn{
                width:100%;
            }
        }

    @include media-max(desktop)
    {
        // display:none;
        max-width: 90%;
        .btn-wrapper{
            width:100%;
        }
    }
}