@import 'mixins';

h1{
    @include h1;
}

h2{
    @include h2;
}

h3{
    @include h3;
}

span,.text{
    @include span;
}

p{
    @include p;

}

input, .input-text{
    @include input;

}
.btn{
    @extend .input-text;
    font-weight: $regular;
    padding: 1.1rem 2rem;
    border-radius: 15px;
    background-color: $blue;
    color: $white;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
    &:hover{
        background-color: $navy;
    }
}